.navbar {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background-color: #f9c594;
}

#arrowBTN {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

#homeBTN {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

.infoButton {
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

